html {
    background-color: #FFFFCC;
    font-size: 10px;
    font-family: Verdana, Tahoma, sans-serif;
}
body {
    margin: 0rem 6rem;
    text-align: center;
    box-sizing: initial;
}
h3 {
    font-size: 2.5rem;
    margin: auto;
}
h2 {
    font-size: 2rem;
    font-family: 'Stantic Typeface';
    color:#FFCC66;
    display: block;
    margin-top: 0.5rem;
}
h1 {
    font-size: 3rem;
    margin: auto;
    color: #FF9900;
}
/* header và navbar */
#header {
    height: 4rem;
    width: auto;
    background-color: #FFF380;
    text-align: left;
    border-radius: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#nav {
    display:inline-block;
    align-items: center;
}
ul#nav {
    margin: 0;
}
#nav li {
    display: inline-block;
    font-size: 2.15rem;
    text-align: left;
}
#nav li a {
    display:inline-block;
    text-decoration: none;
    line-height: 4rem;
    color: orange;
    padding: 0rem 2.5rem;
}
#nav li:hover a {
    background-color: #FF9900;
    color: #FFF380;
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
}
#header .search_icon:hover {
    background-color: #FF9900;
    color: #FFF380;
    font-weight: bold;
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
}
#header .search_icon {
    color:  orange;
    font-size:26px;
    line-height: 4rem;
    padding: 0 7rem;

}
#header .search_box {
    float: right;
}
#slider{
    margin-top: 10rem;
    background-color: #FFFFCC;
}
/* content */
#content {

}
/* box */
.box_title {
    background-color: #FFF380;
    height: auto;
    width: auto;
    margin: 2rem;
    border-radius: 10px;
}
.box_description {
    background-color: 	#FFF380;
    display: flex;
    height: auto;
    margin: 2rem;
    border-radius: 10px;
}
.box_cot_truyen {
    background-color: 	#FFF380;
    height: auto;
    display: flex;
    margin: 2rem;   
    border-radius: 10px;
}
.cac_quoc_gia_tren_dai_luc_teyvat {
    background-color: 	#FFF380;
    height: auto;
    display: flex;
    margin: 2rem;   
    border-radius: 10px;
}
/*image */
.image_large{
    display: flex;
    margin: auto;
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    resize: none;
}
.image_little{
    display: flex;
    margin: 2rem;
    max-width: 60%;
    height: auto;
    border-radius: 10px;
}
/* mô tả */
.description {
    font-size: 2.15rem;
    color: #FF9900;
    margin: 2rem;
    text-align: left;
}
/*Quốc gia*/
.Nation {
    height: auto;
    display: flex;
    margin: 4rem;   
    border-radius: 10px;
}
.Mondstadt {
    background-color: #99FFFF;
    h3 {
        color: #33CC66;
    }
    h2 {
        color: #33CC66;
    }
}
.Liyue {
    background-color: #FFCC66;
    h3 {
        color: #FF6633;  
    }
    h2 {
        color: #FF6633;
    }
}
.Inazuma {
    background-color: #FF55FF;
    h3 {
        color: purple;
    }
    h2 {
        color: purple;
    }
}
.Sumeru {
    background-color: #30fd82ea;
    h3 {
        color: green;
    }
    h2 {
        color: green;
    }
}
.Fontaine {
    background-color: #6699FF;
    h3 {
        color: blue;
    }
    h2 {
        color: blue;
    }
}
/* font chữ */
.font {
    font-size: 2.15rem;
    margin: 1.5rem;
    text-align: left;
}
.font_nghieng {
    font-size: 2.15rem;
    font-style: italic;
    margin: 1.5rem;
    text-align: left;
}
.mond {
    color: #33CC66;
}
.li {
    color: 	#FF6633;
}
.ina {
    color: purple;
}
.sume {
    color: green;
}
.fon {
    color: blue;
}