html {
    background-color: #FFFFCC;
    font-size: 10px;
    font-family: Verdana, Tahoma, sans-serif;
}
body {
    margin: 0rem 6rem;
    text-align: center;
    box-sizing: border-box;
}
h3 {
    font-size: 2.5rem;
    margin: auto;
}
h2 {
    font-size: 2rem;
    color:#FFCC66;
    display: block;
    margin-top: 0.5rem;
}
h1 {
    font-size: 3rem;
    margin: auto;
    color: #FF9900;
}
/* thiết bị */
/* Dành cho điện thoại */
@media all and (max-width: 480px) {


}


/* Dành cho máy tính bảng */
@media all and (max-width: 1024px) {


}
/* header và navbar */
#header {
    height: 4rem;
    width: auto;
    background-color: #FFF380;
    text-align: left;
    border-radius: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
}
#nav {
    display:inline-block;
    align-items: center;
}
ul#nav {
    margin: 0;
}
#nav li {
    display: inline-block;
    font-size: 2.15rem;
    text-align: left;
}
#nav li a {
    display:inline-block;
    text-decoration: none;
    line-height: 4rem;
    color: orange;
    padding: 0rem 1rem;
}
#nav li:hover a {
    background-color: #FF9900;
    color: #FFF380;
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
}
#slider{
    margin-top: 5rem;
    background-color: #FFFFCC;
}
/* content */
#content {
    background-color: #FFFFCC;
}
#footer {
    background-color: #FFF380;
    border-radius: 15px;
    height: auto;
    text-align: left;
    h1 {
        font-size: 2rem;
    }
}
.footer_link {
    font-size: 1.25rem;
    margin-top: 7px;
    text-decoration: none;
    color: orange;
    padding: 0rem 0.5rem;
}
.footer_item {
    font-size: 1.25rem;
    margin-top: 7px;
    text-decoration: none;
    color: orange;
    padding: 0rem 0.5rem;
}
#footer .footer_link:hover {
    background-color: #FF9900;
    color: #FFF380;
    cursor: pointer;
}
/* box */
.box {
    background-color: #FFF380;
    height: auto;
    width: auto;
    margin: 2rem;
    border-radius: 10px;
}
.quoc_gia_tren_dai_luc_teyvat {
    background-color: 	#FFF380;
    height: auto;
    margin: 2rem;   
    border-radius: 10px;
}
/*image */
.image_large{
    display: flex;
    margin: auto;
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    resize: none;
}
.image_little{
    display: flex;
    margin: 2rem;
    max-width: 60%;
    height: auto;
    border-radius: 10px;
}
/* mô tả */
.description {
    font-size: 2.15rem;
    color: #FF9900;
    margin: 2rem;
    text-align: left;
}
/*Quốc gia*/
.Nation {
    height: auto;
    display: flex;
    margin: 4rem;   
    border-radius: 10px;
    h2 {
        text-align: center;
        font-size: 1.5rem;
    }
}
.Mondstadt {
    background-color: #CCFFFF;
    h3 {
        color: #33CC66;
    }
    h2 {
        color: #33CC66;
    }
}
.Liyue {
    background-color: #FFCC66;
    h3 {
        color: #FF6633;  
    }
    h2 {
        color: #FF6633;
    }
}
.Inazuma {
    background-color: #FDBCCF;
    h3 {
        color: purple;
    }
    h2 {
        color: purple;
    }
}
.Sumeru {
    background-color: #33FF66;
    h3 {
        color:rgb(0, 87, 0);
    }
    h2 {
        color:rgb(0, 87, 0);
    }
}
.Fontaine {
    background-color: #B5EAD7;
    h3 {
        color: blue;
    }
    h2 {
        color: blue;
    }
}
.Natlan {
    background-color: #FF9AA2;
    h3 {
        color: red;
    }
    h2 {
        color: red;
    }
}
.Snezhnaya {
    background-color:#B8E1FF;
    h3 {
        color: #5586B0;
    }
    h2 {
        color: #5586B0;
    }
}
.Sal_Vindagnyr {
    background-color: #A0E3F2;
    h3 {
        color: #3366FF;
    }
    h2 {
        color: #3366FF;
    }
}
/* font chữ */
.font {
    font-size: 2.15rem;
    margin: 1.5rem;
    text-align: left;
}
.font_nghieng {
    font-size: 2.15rem;
    font-style: italic;
    margin: 1.5rem;
    text-align: left;
}
.mond {
    color: #33CC66;
}
.li {
    color: 	#FF6633;
}
.ina {
    color: purple;
}
.sume {
    color: rgb(0, 87, 0);
}
.fon {
    color: blue;
}
.nat {
    color: #FF0000;
}
.sne {
    color: 	#5586B0;
}
.sal{
    color: #3366FF;
}